body {
    background: #fff;
    /*background: linear-gradient(45deg, #181818, #181818, #7400e4);*/
    /*background-size: 400% 400%;*/
    /*margin: 0;*/
    /*animation: gradient 40s ease infinite;*/
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

aside {
    float: left;
    /*background: linear-gradient(45deg, #181818, #262626);*/
    background: #7579e7;
    background-size: 400% 400%;
    margin: 0;
    animation: gradient 20s ease infinite;
    width: 10%;
    padding: 3%;
    height: 1080px;
    color: #ffffff;
    border-right: 5px solid #b27be5;
    border-bottom: 1px solid #b27be5;

}

aside img {
    margin: 0;
    width: 85px;
    float: left;
    position: relative;
    left: -10px;
    top: 0;
}

aside .logo {
    font-family: "Montserrat Medium";
    font-size: 20px;
    position: relative;
    left: -10px;
    top: 0;
    color: #b9fffc;
}

h3 {
    font-size: 18px;
    position: relative;
    color: #9ab3f5;
}

li {
    font-size: 14px;
}


aside ul {
    list-style: none;
}

aside i {
    position: relative;
    left: -5px;
}

aside ul li {
    font-family: "Montserrat";
    color: #ffffff;
    display: block;
    margin-top: 25px;
    position: relative;
    transition: transform .6s ease;
    font-size: 13px;
    top: 50px;
}

h2 a:hover {
    color: #9ab3f5;
}

p a:hover{
     color: #9ab3f5;
}

aside ul li:hover, aside ul a:hover {
    color: #b9fffc;
    text-decoration: none;
    transform: scale(1.05);
}

.rightbar ul li a:hover{
     color: #9ab3f5;
}


main .features {
    float: left;
    color: #111111;
    font-family: georgia, serif;
    font-size: 13px;
    margin-top: 40px;
    margin-left: 100px;
    text-align: left;
    width: 50%;
}

main .features h1 {
    color: #7579e7;
    font-size: 30px;
}

main .features h2 {
    color: #7579e7;
    font-size: 18px;
    max-width: 600px;
    position: relative;
    top: 20px;
}


p.ntag {
    margin-top: 0;
    color:#111111;
    font-family: georgia, serif;
    font-size: 10px;
}

p.date {
    margin-top: 30px;
    color:#484848;
    font-family: georgia, serif;
    font-size: 10px;
    font-style: italic;
}

p {
    position: relative;
    top: 20px;
}

.similar {
    position: relative;
    top: -20px;
}

aside p {
    font-size: 12px;
    position: relative;
    top: 570px;
}

a {
    color: #7579e7;
}


h2 {
    color: #7579e7;
    margin-top: 40px;

}

h1 .top {
    margin-top: 0;
}

body .rightbar {
    float: right;
    margin: 0;
    width: 25%;
    padding: 3%;
    height: 1000px;
    color: #7579e7;
}

.similar-posts .sim {
    margin-top: 50px;
}

.pagination {
    margin:40px 0;
    font-weight:bold;
}


.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background: #f1f1f1;
    border-radius: 5px;
}
.comment .info {
    margin-top: -15px;
    color:#484848;
    font-family: georgia, serif;
    font-size: 10px;
    font-style: italic;
}
.comment .info-name {
    margin-top: -10px;
    color: #181818;
    font-family: georgia, serif;
    font-size: 10px;
    font-style: italic;
}
.comment h5 {
    color: #181818;
    font-family: georgia, serif;
    font-size: 13px;
}

.sharing .share {
    text-align: right;
}

.container {
    text-align: right;
    margin-top: 40px;
}
.btn {
    border: 1px solid #7579e7;
    text-align: right;
    background: none;
    padding-top: 5px 10px;
    font-size: 15px;
    font-family: Montserrat;
    cursor: pointer;
    margin-top: 50px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn2{
  color: #7579e7;
}
.btn2:hover{
  color: #b9fffc;
}

.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #7579e7;
  z-index: -1;
  transition: 0.8s;
}

.btn2::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn2:hover::before{
  height: 180%;
}

.btn a {
    text-decoration: none;
}

.btn a:hover {
    color: #b9fffc;
}

.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.contact-section h1{
    text-align: center;
}

.border {
    width: 300px;
    height: 7px;
    background: #9ab3f5;
}

.contact-form {
    max-width: 500px;
    margin-top: 100px;
    margin-left: 100px;
    padding: 0 10px;
    overflow: hidden;
}

.contact-from-text {
    position: relative;
    top: 40px;
    display: block;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    border-radius: 6px;
    background: #b9fffc;
    padding: 20px 40px;
    outline: none;
    color: #111;
    transition: 0.5s;
}

.contact-from-text:focus{
    box-shadow: 0 0 10px 4px #a3d8f4;
}

textarea.contact-from-text{
    resize: none;
    height: 120px;

}

.btn-input {
    background: none;
    border: none;
    color: #9ab3f5;
}

.btn-input:hover {
    color: #ffffff;
}


.sm a {
  margin: 30px 15px;
  width: 35px;
  height: 35px;
  background-color: #fff;
  display: inline-block;
  border-radius: 7px;
  box-shadow: 6px 6px 12px rgba(0,0,0,.2),
              -3px -3px 6px rgba(255, 255, 255, 0.3);
  overflow: hidden;
  font-size: 20px;
  transition: .3s linear;
  position: relative;
}

.sm a:hover {
  transform: scale(1.3);
  border-radius: 50%;
}


.sm a i::before{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: 200% 200%;
  background-position: 75% 75%;
  top: 0;
  left: 0;
  line-height: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background .5s linear;
}


.sm a:hover i::before{
  background-position: 0% 0%;
}

.fa-instagram::before{
  background-image: linear-gradient(135deg,#c32aa3 30%, #7579e7 50%);
}

.fa-telegram::before{
  background-image: linear-gradient(135deg, #006ae0 30%,#7579e7 50%);
}

.fa-github::before{
  background-image: linear-gradient(135deg, #111111 30%,#7579e7 50%);
}

.cont {
    position: relative;
    top: 35px;
    left: 100%   ;
}

.box{
	width: 45px;
	height: 10px;
	background-color: #7579e7;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 15px;
}

.box > i {
    align-content: center;
	font-size: 15px;
	color: #fff;

}

.box > input{
    background-color: #7579e7;
	flex: 1;
	height: 15px;
	border: none;
	outline: none;
	font-size: 13px;
	padding-left: 10px;
    color: #fff;
}

.box a {
    color: white;
    border: none;
}

.box a:hover {
    color: white;
    border: none;
}
